*{
    text-decoration: none;
    color:#C2C0C4;
    text-align:center;
}
body{
    background-image: linear-gradient(#49525A,black);
}
a{
    text-decoration:none;
    color:#C2C0C4;
}
.nav-link{
    color:#C2C0C4;
}
.navbar-toggler-icon{
    color:#C2C0C4;
}
.navbar-nav{
    background-color:#49525A ;
    width: 100vw;
}
nav{
    height:8vh;
    background-color:#49525A;
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/></svg>");
}
